<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacobsheehy.coffeetracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jacobsheehy.coffeetracker.HomeCoffeeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.jacobsheehy.coffeetracker.ProductivityAdder"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.jacobsheehy.coffeetracker.ADD_HIGH_PROD" />
                <action android:name="com.jacobsheehy.coffeetracker.ADD_MEDIUM_PROD" />
                <action android:name="com.jacobsheehy.coffeetracker.ADD_LOW_PROD" />
            </intent-filter>
        </receiver>
    </application>

</manifest>